/renderers/openlayers/convert/*.geojson
/renderers/openlayers/convert/*.json
/renderers/openlayers/.project
/renderers/openlayers/theme
/renderers/openlayers/img
/renderers/openlayers/OpenLayers.js
*.secret
captures/*
pre_peta/*
renderers/openlayers/images
renderers/openlayers/leaflet.css
renderers/openlayers/leaflet.js
renderers/openlayers/leaflet.css
renderers/openlayers/leaflet.js
